In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2023-03-21 20:34:55.406883: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
# Read the HR-Employee-Attrition.csv file from the Resources folder into a Pandas DataFrame
employee_df = pd.read_csv(
    Path("HR-Employee-Attrition.csv")
)
employee_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Review the data types associated with the columns
employee_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [4]:
# Create a list of categorical variables 
categorical_variables = list(employee_df.dtypes[employee_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [5]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(employee_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Display the DataFrame
encoded_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [9]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = employee_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [10]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attition_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Reveiw the DataFrame
attition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [11]:
# Define the target set y using the Attrition_Yes column
y = attition_df["Attrition_Yes"]

# Display a sample of y
y[:5]

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Attrition_Yes, dtype: float64

In [12]:
# Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = attition_df.drop(columns=["Attrition_Yes", "Attrition_No"])

# Review the features DataFrame
X.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [13]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# RULE OF THUMB FOR TARGETING HIDDEN LAYERS
# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# RULE OF THUMB FOR TARGETING HIDDEN LAYERS
# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotent
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Create the Sequential model instance
nn = Sequential()

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

2023-03-21 20:55:19.959109: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
# hidden_nodes_layer1 =  (2 + 1) // 2

In [17]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 28)                1568

 dense_1 (Dense)             (None, 14)                406

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 1,989
Trainable params: 1,989
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Fit the model using 100 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 1ms/step - loss: 0.5750 - accuracy: 0.7033
Epoch 2/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4229 - accuracy: 0.8403
Epoch 3/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3790 - accuracy: 0.8466
Epoch 4/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3497 - accuracy: 0.8621
Epoch 5/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3258 - accuracy: 0.8702
Epoch 6/100
35/35 [==============================] - 0s 987us/step - loss: 0.3071 - accuracy: 0.8793
Epoch 7/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2894 - accuracy: 0.8866
Epoch 8/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2763 - accuracy: 0.8947
Epoch 9/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2629 - accuracy: 0.8993
Epoch 10/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2518 - accuracy: 0.9065
Epoch 11/100
35/35 [==============================] - 0s 982us/step - loss: 0.2414 - accuracy: 0.9102
Epoch 12/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2331 - accuracy: 0.9147
Epoch 13/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2223 - accuracy: 0.9174
Epoch 14/100
35/35 [==============================] - 0s 971us/step - loss: 0.2133 - accuracy: 0.9165
Epoch 15/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2057 - accuracy: 0.9247
Epoch 16/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1969 - accuracy: 0.9247
Epoch 17/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1884 - accuracy: 0.9319
Epoch 18/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1805 - accuracy: 0.9365
Epoch 19/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1757 - accuracy: 0.9338
Epoch 20/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1667 - accuracy: 0.9419
Epoch 21/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1616 - accuracy: 0.9419
Epoch 22/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1525 - accuracy: 0.9510
Epoch 23/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1463 - accuracy: 0.9537
Epoch 24/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1402 - accuracy: 0.9537
Epoch 25/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1351 - accuracy: 0.9546
Epoch 26/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1287 - accuracy: 0.9619
Epoch 27/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1223 - accuracy: 0.9619
Epoch 28/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1186 - accuracy: 0.9646
Epoch 29/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1131 - accuracy: 0.9664
Epoch 30/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1068 - accuracy: 0.9737
Epoch 31/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1017 - accuracy: 0.9728
Epoch 32/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0982 - accuracy: 0.9782
Epoch 33/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0918 - accuracy: 0.9791
Epoch 34/100
35/35 [==============================] - 0s 935us/step - loss: 0.0878 - accuracy: 0.9819
Epoch 35/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0841 - accuracy: 0.9819
Epoch 36/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0811 - accuracy: 0.9819
Epoch 37/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0771 - accuracy: 0.9837
Epoch 38/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0722 - accuracy: 0.9846
Epoch 39/100
35/35 [==============================] - 0s 955us/step - loss: 0.0690 - accuracy: 0.9855
Epoch 40/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0663 - accuracy: 0.9846
Epoch 41/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0624 - accuracy: 0.9837
Epoch 42/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0613 - accuracy: 0.9855
Epoch 43/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0561 - accuracy: 0.9918
Epoch 44/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0525 - accuracy: 0.9927
Epoch 45/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0504 - accuracy: 0.9936
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0466 - accuracy: 0.9918
Epoch 47/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0455 - accuracy: 0.9936
Epoch 48/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0428 - accuracy: 0.9955
Epoch 49/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0406 - accuracy: 0.9927
Epoch 50/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0377 - accuracy: 0.9964
Epoch 51/100
35/35 [==============================] - 0s 985us/step - loss: 0.0358 - accuracy: 0.9991
Epoch 52/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0332 - accuracy: 0.9973
Epoch 53/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0315 - accuracy: 0.9982
Epoch 54/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0295 - accuracy: 0.9991
Epoch 55/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0285 - accuracy: 0.9991
Epoch 56/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0266 - accuracy: 0.9982
Epoch 57/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0254 - accuracy: 0.9991
Epoch 58/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0241 - accuracy: 0.9991
Epoch 59/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0219 - accuracy: 0.9991
Epoch 60/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0206 - accuracy: 0.9991
Epoch 61/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0194 - accuracy: 0.9991
Epoch 62/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0181 - accuracy: 0.9991
Epoch 63/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0170 - accuracy: 0.9991
Epoch 64/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0161 - accuracy: 0.9991
Epoch 65/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0156 - accuracy: 0.9991
Epoch 66/100
35/35 [==============================] - 0s 989us/step - loss: 0.0148 - accuracy: 0.9991
Epoch 67/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0136 - accuracy: 0.9991
Epoch 68/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0126 - accuracy: 0.9991
Epoch 69/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0122 - accuracy: 0.9991
Epoch 70/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0113 - accuracy: 1.0000
Epoch 71/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0108 - accuracy: 1.0000
Epoch 72/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0100 - accuracy: 1.0000
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0095 - accuracy: 1.0000
Epoch 74/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0088 - accuracy: 1.0000
Epoch 75/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0083 - accuracy: 1.0000
Epoch 76/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0079 - accuracy: 1.0000
Epoch 77/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0077 - accuracy: 1.0000
Epoch 78/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 79/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0069 - accuracy: 1.0000
Epoch 80/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0066 - accuracy: 1.0000
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 0.0064 - accuracy: 1.0000
Epoch 82/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0058 - accuracy: 1.0000
Epoch 83/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0056 - accuracy: 1.0000
Epoch 84/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0054 - accuracy: 1.0000
Epoch 85/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0051 - accuracy: 1.0000
Epoch 86/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0050 - accuracy: 1.0000
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0047 - accuracy: 1.0000
Epoch 88/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0045 - accuracy: 1.0000
Epoch 89/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0043 - accuracy: 1.0000
Epoch 90/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0042 - accuracy: 1.0000
Epoch 91/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0040 - accuracy: 1.0000
Epoch 92/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0038 - accuracy: 1.0000
Epoch 93/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0036 - accuracy: 1.0000
Epoch 94/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0035 - accuracy: 1.0000
Epoch 95/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0033 - accuracy: 1.0000
Epoch 96/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0033 - accuracy: 1.0000
Epoch 97/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0031 - accuracy: 1.0000
Epoch 98/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0029 - accuracy: 1.0000
Epoch 99/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0028 - accuracy: 1.0000
Epoch 100/100
35/35 [==============================] - 0s 1ms/step - loss: 0.0027 - accuracy: 1.0000

In [20]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 1.2818 - accuracy: 0.8125 - 155ms/epoch - 13ms/step
Loss: 1.2818032503128052, Accuracy: 0.8125

In [ ]:
## this shows the data is over fit